body {
    background-color: rgb(40, 48, 98);
    color: rgb(69, 52, 223);
    
}

h1 {
    background-color: rgb(101, 178, 241);
}
span{
    background-color: aquamarine;
}

a{
    background-color: wheat;
}

h2{
    background-color: aqua;
}