body {
    background-color: rgb(40, 48, 98);
    color: rgb(69, 52, 223);
    
}

h1 {
    background-color: rgb(101, 178, 241);
    text-align: center;
}
span{
    background-color: aquamarine;
}

#DC{
    background-color: rgb(66, 63, 240);
    color: rgb(255, 255, 255);
}
#YT{
    background-color: red;
    color: white;
}

h2{
    background-color: aqua;
}

*{
    padding: 5px;
}
hr{
    background-color: black;
}